# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# ML models & artefacts
models/*.pkl
models/*.h5
models/plots/
*.ckpt

# Data
dataset/processed.csv
dataset/archive/*.parquet

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Env vars
.env
.env.*
