# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/


# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# ML models & artefacts
models/*.pkl
models/*.h5
models/*.json
models/plots/
*.ckpt
*.pkl

# Virtual env (all names)
venv*/
Venv/
.venv/
env/
ENV/

# Data
dataset/processed.csv
dataset/archive/*.parquet

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Env vars
.env
.env.*
